*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  background: #d6cdfe;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
}

a {
  color: black;
  text-decoration: none;
}

.btn-warning:hover a {
  color: black;
}
.btn-outline-dark:hover a {
  color: white;
}

.navbar {
  background-color: black !important;
  justify-content: space-between;
  padding: 0 100px;
  height: 5rem;
  position: fixed;
  width: 100%;
}
.right-nav {
  width: 50%;
}

.right-nav .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.nav-link.active {
  color: royalblue;
  padding-bottom: 10px;
  border-bottom: 5px solid royalblue;
}

main {
  margin-top: 5rem;
}

.container {
  display: none !important;
}

.container.show {
  display: flex !important;
}

.container {
  padding: 30px 60px;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

#home.container {
  padding: 70px 60px;
}

.resume-pdf {
  width: 100%;
}

.intro {
  line-height: 80px;
}

.intro h1 {
  font-size: 56px;
}

.intro h3 {
  font-size: 32px;
}

.aboutBtn {
  background-color: #0a007c !important;
  color: aliceblue;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  border: none;
  border-radius: 20px;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 5px 15px royalblue;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}

.aboutBtn:hover {
  background-color: #0a007c7e !important;
  color: aliceblue;
}

.aboutBtn img {
  height: 16px;
}

.container .social {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.container .social a {
  list-style: none;
  padding: 10px 12px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.container .social a img {
  height: 18px;
  width: 18px;
}

.img-container {
  background-color: yellow;
  border-radius: 50%;
  height: 300px;
}
.img-container img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
}

footer h5 {
  text-align: center;
  color: #fff;
}

.wrapper {
  display: inline-flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #ff7800;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #d6cdfe;
  border-left: 2px solid #ff7800;
  animation: typing 3s steps(10) infinite;
  top: 5%;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.grad {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #fff, #fbff00);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
